# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
.venv/
build/
develop-eggs/
dist/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/

# testing
.tox
.coverage
coverage.xml
htmlcov
